@media print {
  .p-work {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 10px 0;

    // .p-work__item
    &__item {
      display: flex;
      flex-direction: column;
    }

    // .p-work__header
    &__header {
      display: flex;
      justify-content: space-between;
      gap: 10px;
    }

    // .p-work__period
    &__period {
      font-size: 14px;
      font-weight: 700;
      line-height: 14px;
      text-align: right;
      flex-shrink: 0;
      width: 80px;

      @supports (-webkit-hyphens:none) {
        font-size: 12px;
      }
    }

    // .p-work__right
    &__right {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      text-align: left;
      gap: 4px;
      flex: 1;
      min-width: 0;
    }

    // .p-work__company
    &__company {
      font-size: 18px;
      font-weight: 700;
      line-height: 18px;
      text-align: left;

      @supports (-webkit-hyphens:none) {
        font-size: 16px;
      }
    }

    // .p-work__position
    &__position {
      font-size: 13px;
      font-weight: 300;
      line-height: 13px;
      text-align: left;

      @supports (-webkit-hyphens:none) {
        font-size: 11px;
      }
    }

    // .p-work__description
    &__description {
      font-size: 11px;
      font-weight: 300;
      line-height: 15px;
      text-align: left;
      margin-top: 4px;

      @supports (-webkit-hyphens:none) {
        font-size: 10px;
        line-height: 13px;
      }

      b {
        font-weight: 600;
      }

      ol {
        margin: 2px 0;
        padding-left: 16px;
      }

      li {
        margin-bottom: 2px;
      }
    }
  }
}
