.top {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 0 55px;
  height: calc(100vh - 140px);
  overflow: hidden;

  // .top__name
  &__name {
    font-family: Raleway;
    font-size: 96px;
    font-weight: 200;
    line-height: 113px;
    letter-spacing: 0em;
    text-align: left;
    margin: auto 0 0;
    z-index: 1;
  }

  // .top__job
  &__job {
    font-family: Raleway;
    font-size: 32px;
    font-weight: 800;
    line-height: 35px;
    text-align: left;
    margin: 0 0 auto;
    z-index: 1;
    margin-top: 10px;
  }

  // .top__location
  &__location {
    display: flex;
    align-items: center;
    margin-bottom: 44px;
    z-index: 1;
  }

  // .top__location-img
  &__location-img {
    width: 32px;
    height: 32px;
    background: url(../../../assets/svg/location.svg) no-repeat center;
    background-size: contain;
    margin-right: 12px;
  }

  // .top__location-text
  &__location-text {
    font-size: 24px;
    font-weight: 200;
    line-height: 28px;
    text-align: left;
  }

  // .top__contacts
  &__contacts {
    position: absolute;
    top: calc(100vh - 48px - 58px - 140px);
    display: flex;
    gap: 10px;
    left: calc(50vw - 140px);
    z-index: 1;

    a {
      min-width: 48px;
      min-height: 48px;
      opacity: 0.5;
      transition: all 0.2s;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;

      &:hover {
        transform: scale(1.03);
        opacity: 0.8;
      }
      &:active {
        opacity: 1;
      }
    }
  }

  // .top__whatsapp-btn
  &__whatsapp-btn {
    background: url(../../../assets/svg/whatsapp.svg) no-repeat center;
    background-size: contain;
  }

  // .top__telegram-btn
  &__telegram-btn {
    background: url(../../../assets/svg/telegram.svg) no-repeat center;
    background-size: contain;
  }

  // .top__linkedin-btn
  &__linkedin-btn {
    background: url(../../../assets/svg/linkedin.svg) no-repeat center;
    background-size: contain;
  }

  // .top__email-btn
  &__email-btn {
    background: url(../../../assets/svg/email.svg) no-repeat center;
    background-size: contain;
  }

  // .top__github-btn
  &__github-btn {
    background: url(../../../assets/svg/github.svg) no-repeat center;
    background-size: contain;
  }

  // .top__image
  &__image {
    position: absolute;
    height: 100%;
    width: 75vh;
    right: -14vh;
    background: url(../../../assets/img/my-photo.png) no-repeat top left;
    background-size: cover;
  }

}