.top {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 0 55px;
  height: calc(100vh - 140px);
  overflow: hidden;

  // .top__name
  &__name {
    margin: auto 0 0;
    font-size: 96px;
    font-weight: 400;
    line-height: 80px;
    text-align: left;
    z-index: 1;
  }

  // .top__job
  &__job {
    margin: 24px 0 auto;
    font-size: 32px;
    font-weight: 800;
    line-height: 35px;
    text-align: left;
    text-transform: uppercase;
    z-index: 1;
  }

  // .top__location
  &__location {
    display: flex;
    align-items: center;
    margin-bottom: 44px;
    z-index: 1;
  }

  // .top__location-img
  &__location-img {
    width: 32px;
    height: 32px;
    background: url(../../../assets/svg/location.svg) no-repeat center;
    background-size: contain;
    margin-right: 12px;
  }

  // .top__location-text
  &__location-text {
    font-size: 24px;
    font-weight: 200;
    line-height: 28px;
    text-align: left;
  }

  // .top__contacts
  &__contacts {
    position: absolute;
    top: calc(100vh - 28px - 58px - 140px);
    display: flex;
    gap: 10px;
    left: calc(50vw - 140px);
    z-index: 1;

    a {
      min-width: 48px;
      min-height: 48px;
      opacity: 0.5;
      transition: all 0.2s;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;

      &:hover {
        transform: scale(1.03);
        opacity: 0.8;
      }
      &:active {
        opacity: 1;
      }
    }
  }

  // .top__image
  &__image {
    position: absolute;
    top: 0;
    right: -14vh;
    height: 100%;
    width: 75vh;
    background: url(../../../assets/img/my-photo.png) no-repeat top left;
    background-size: cover;
  }

  @media screen and (max-width: 1124px) {
    padding: 0 36px;
    height: calc(100vh - 80px);

    &__location {
      position: absolute;
    }

    &__contacts {
      top: calc(100vh - 28px - 58px - 80px);
      left: 36px
    }

    &__job {
      margin-bottom: 157px;
      font-size: 40px;
    }
  }

  @media screen and (max-width: 740px) {
    padding: 0 20px;

    &__image {
      top: 44px
    }

    &__location-img {
      width: 24px;
      height: 24px;
    }

    &__location-text {
      font-size: 20px;
      line-height: 23px;
      color: #000000f2;
    }

    &__name {
      font-size: 78px;
      line-height: 74px;
      color: #000000f2;
    }

    &__job {
      font-size: 24px;
      line-height: 28px;
      margin-top: 10px;
      margin-bottom: 91px;
      color: #000000f2;
    }

    &__contacts {
      top: calc(100vh - 28px - 40px - 80px);
      left: 20px
    }
  }

}