@media print {
  .p-skills {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 18px 8px 0;
    gap: 4px;

    // .p-skills__item
    &__item {
      display: flex;
      gap: 6px;
    }

    // .p-skills__icon
    &__icon {
      width: 16px;
      height: 16px;
    }
  }
}